* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
h1{
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

body {
    background-color: #f6f8fc;
    text-align: center;
}

.content {
    width: 100vw;
    height: 100%;
    padding: 0.9rem;
    background-color: #fff;
}

.contentD {
    display: flex;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center;
    width: 60vw;
    padding: 0.9rem;
}


#number{
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: 1rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: 100%;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

